<!DOCTYPE html>
<html lang="it">

<head>
    
    <link rel="stylesheet" href="../static/css/bello.css">

    <title>Album Più Venduti Di Sempre</title>
</head>
<body>
    
<div class="allineamento">
    <h1 class="titolo"> DISCHI PIU VENDUTI DI SEMPRE</h1>
    <img class="immagine2" src="../static/css/grammy.jpg">
</div>

<div class="dischi">
    
    {% for item in album %}
        <p>
            Artista: {{ item[1] }}
            Album: {{ item[2] }}
            Anno: {{ item[3] }}
            Genere: {{ item[4] }}
            Vendite: {{ item[5] }}
            Miglior Canzone: {{ item[6] }}
        </p>   
    
        <img class="immagine" src="../static/images/{{item[0]}}.jpg" alt="{{item[0]}}" width="300">       
   
    {% endfor %}

</div>

</body>

</html>