.titolo {
    color: black;    
    display: flex;
    justify-content: center;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;

}

body {
        background-color: cornsilk;
        }


.dischi {
    color: black ;
    font-size: 25px;
    width: 400px;
    height: 300px;
    text-align: center;
    
}

.immagine {
    width: 350px;
    height: 250px;    
    align-self: center;
      
}



